.flex-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  padding: 0.8rem;
  background-image: linear-gradient(90deg, #38d39f, #38a4d3, #38d39f);
  border: 3px solid transparent;
  border-radius: 4px;
  display: block;
  width: 40%;
  margin: auto;
}

.button:hover {
  background-position: right !important;
}

.primary-button:hover {
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

nav {
  min-height: 10vh;
}

.navbar .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  margin-right: 2.5rem;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.site-banner .row-hero {
  min-height: 90vh;
}
.site-banner .hero-img {
  pointer-events: none;
  width: 320px;
}
.site-banner .wave {
  display: none;
  position: absolute !important;
  top: 0%;
  right: 0%;
  z-index: -1;
  height: 100%;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .wave {
    display: block !important;
  }

  .hero-img {
    width: 650px !important;
  }
}
.about-area .row-about {
  min-height: 100vh;
}
.about-area .about-img {
  width: 320px;
  order: 2;
  pointer-events: none;
}
.about-area .about-intro {
  order: 1;
}
.about-area .about-intro h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}
.about-area .about-intro p {
  line-height: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .about-img {
    order: 1 !important;
  }

  .about-intro {
    order: 2 !important;
  }
}
.services-list {
  min-height: 100vh !important;
}

.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

@media only screen and (max-width: 340px) {
  .site-main > .services-area .services {
    width: 13rem;
  }
}
.project-area {
  min-height: 110vh;
}

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px "Cormorant Garamond";
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px "Cormorant Garamond";
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.about-area {
  min-width: 100vh !important;
}

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10 !important;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.img-testimonials {
  border-radius: 50%;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/20px var(--roboto);
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: #333;
  width: 12px;
  height: 12px;
}

.navbar-toggler-icon {
  border: none !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  background: #fff;
  font-size: 1.3rem;
  overflow-x: hidden !important;
  animation: opening 1.5s ease-in-out forwards;
}

.contain {
  width: 86% !important;
  margin: 0 auto !important;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.8;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  z-index: 999;
  transition: background 1s ease;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */