.about-area {
  .row-about {
    min-height: 100vh;
  }
  .about-img {
    width: 320px;
    order: 2;
    pointer-events: none;
  }
  .about-intro {
    order: 1;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
    }

    p {
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .about-img {
    order: 1 !important;
  }

  .about-intro {
    order: 2 !important;
  }
}
