// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);

.about-area {
  .row-about {
    min-height: 100vh;
  }

  .about-img {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .about-img {
    display: block !important;
  }
}

@media only screen and (min-width: 992px) {
  .about-img {
    width: 450px !important;
  }
}
